.servicebundle form.aui .textarea {
	width: 500px;
	max-width: 100%;
}

.servicebundle .aui-tabs > .tabs-menu .menu-item.active-tab a.warning,
.servicebundle .aui-tabs > .tabs-menu .menu-item.active-tab a.warning:link,
.servicebundle .aui-tabs > .tabs-menu .menu-item.active-tab a.warning:visited,
.servicebundle .aui-tabs > .tabs-menu .menu-item.active-tab a.warning:focus,
.servicebundle .aui-tabs > .tabs-menu .menu-item.active-tab a.warning:hover,
.servicebundle .aui-tabs > .tabs-menu .menu-item.active-tab a.warning:active {
	background-color: #ffe9a8;
}

.servicebundle .aui-icon.servicebundle-icon {
	text-indent: 0;
}